<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP heroes hamilton</title>
</head>
<body>
    <h1>heroes</h1>
    <header>
        <nav>
          <a href="/babbage">babbage</a>
          <a href="/berners-lee">berners</a>
          <a href="/clarke">clarke</a>
          <a href="/">home</a>
          <a href="/hopper">hopper</a>
          <a href="/lovelace">lovelace</a>
          <a href="/turing">turing</a>
        </nav>
    </header>
    <main>
        <h1>hamilton</h1>
        <img src="/img/hamilton.jpg" alt="">
        <h2>historia</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, perferendis. Inventore est ad officia maiores, amet facere, eaque id reiciendis harum, suscipit exercitationem consequatur delectus rerum assumenda nobis. Facere, vel.</p>
        <nav>
            <h3>referencias</h3>
            <ul>
                <li><a href="">ref1</a></li>
                <li><a href="">ref2</a></li>
                <li><a href="">ref3</a></li>
                <li><a href="">ref4</a></li>
            </ul>
        </nav>
    </main>
    
</body>
</html>