<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP heroes</title>
</head>
<body>
    <h1>heroes</h1>
    <header>
        <nav>
          <a href="/babbage">babbage</a>
          <a href="/berners-lee">berners</a>
          <a href="/clarke">clarke</a>
          <a href="/hamilton">hamilton</a>
          <a href="/hopper">hopper</a>
          <a href="/lovelace">lovelace</a>
          <a href="/turing">turing</a>
        </nav>
    </header>
</body>
</html>
